body {
  font-family: sans-serif;
  text-align: center;
  background: #f8f8f8;
}

#mainBtn {
  padding: 20px 40px;
  font-size: 24px;
  background: green;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}

.relays {
  margin-top: 40px;
}

.relay-btn {
  padding: 15px 25px;
  font-size: 18px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.relay-on {
  background-color: green;
  color: white;
}
.relay-off {
  background-color: gray;
  color: white;
}
